<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>龙垣科技</title>

</head>
<body>
    <h1>声纹识别系统演示</h1>
    使用方法：
    <br />
    主页: http://iint.icu:8170
    <br />
    <a href="http://iint.icu:8170/register/file">声纹注册（上传wav文件方式）</a>
    <br />
    <a href="http://iint.icu:8170/register/url">声纹注册（填写文件url方式）</a>
    <br /><br />
    <a href="http://iint.icu:8170/test/file">声纹识别（上传wav文件方式）</a>
    <br />
    <a href="http://iint.icu:8170/test/url">声纹识别（填写文件url方式）</a>
    <br />


</body>
</html>